.bg {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

.card h2 {
    margin: 0;
}

.card h5 {
    margin: 0;
    color: #c6c6c6;
}

.loginForm {
    width: 400px;

    display: flex;
    flex-direction: column;
}

.head {
    text-align: center;
    margin-bottom: 15px;
}


.loginForm input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 7px;
    border: solid 1px #c1c1c1;
}

.loginForm input::placeholder {
    color: #c3c3c3;
}

.loginForm input:hover {
        border: solid 1px #808080;
}

.loginForm p {
    margin: 0;
    font-size: 0.8em;
}

button {
    background-color: #2572ff;
    color: white;
    height: 2.5em;
}